.button {
  border: 0px;
  padding: 0px;
  padding: 2px;
  background-color: #e1e4ea;
}

.delete-button {
  background-color: #c65d5d;
}

.edit-button {
  background-color: #5da4c6;
  margin-right: 5px;
}

#submit-btn {
  width: 10%;
  background-color: #5dc662;
}