$baseFontSize: 10px;

.button {
  border: 0px;
  padding: 5px;
  background-color: #e1e4ea;
  font-size: 1.5em;
}

.delete-button {
  background-color: #c65d5d;
}

.edit-button {
  background-color: #5da4c6;
  margin-right: 5px;
}

.done-button {
  background-color: #a4e288;
  margin-right: 5px;
}

#submit-btn {
  width: 10%;
  background-color: #5dc662;
}