@import '../../../node_modules/normalize.css/normalize.css';
@import 'buttons';

$baseFontSize: 10px;
$bgColor: #cce8e2;
$defaultTextColour: rgb(255,25,233);

body {
	background-color: $bgColor;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: Arial;
}

main {
	background-color: white;
	width: 70%;
	padding: 20px;
}

form {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	border-bottom: solid #e1e4ea 1px;
}

h1 {
    font-size: $baseFontSize * 5;
}

.todo-list-wrapper {
	ul {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		li {
			margin: 20px;
			margin-bottom: 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:nth-child(2n) {
				background: #444444;
				padding: 10px
			}
			
			&.blue {
				background: blue;
			}
		}
	}
}

input {
	border: 0px;
	padding: 0px;
}

#input-text {
	width: 90%;
	background-color: #e1e4ea;
}