$baseFontSize: 10px;

.button {
  border: 0px;
  padding: 5px;
  background-color: #e1e4ea;
  font-size: 1.2em;
}

.Delete-button {
  background-color: #c65d5d;
}

.Edit-button {
  background-color: #5da4c6;
  margin-right: 5px;
}

.Done-button {
  background-color: #a4e288;
  margin-right: 5px;
}

.Ok-button {
  background-color: #5da4c6;
}

#submit-btn {
  width: 10%;
  background-color: #5dc662;
}