$baseFontSize: 10px;

.button {
  border: 0px;
  padding: 5px;
  font-size: 1.2em;
  width: 100px;
}

.Delete-button {
  background-color: #c65d5d;
}

.Edit-button {
  background-color: #5da4c6;
  margin-right: 5px;

  @media only screen and (max-width: $maxWidth) {   
	margin-bottom: 5px;
	margin-right: 0px;
  }
}

.Done-button {
  background-color: #a4e288;
  margin-right: 5px;

  @media only screen and (max-width: $maxWidth) {   
	margin-bottom: 5px;
	margin-right: 0px;
  }
}

.Ok-button {
  background-color: #5da4c6;

  @media only screen and (max-width: $maxWidth) {   
	margin-left: 5px;
  }
}

#submit-btn {
  background-color: #5dc662;
}