@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import 'variables';
@import 'buttons';
@import 'todo_list';
@import 'done_list';

body {
	background-color: $bgColor;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: Arial;
	font-size: $baseFontSize;
}

main {
	background-color: white;
	width: $maxWidth;
	min-width: 250px;
	padding: 20px;
	font-size: 1.5em;

	@media only screen and (max-width: $maxWidth) {   
	    width: 100%; 
	}
}

form {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
	border-bottom: solid #e1e4ea 1px;
}

h1 {
    font-size: 5em;
    min-width: 250px;
}

input {
	border: 0px;
	padding: 5px;
}

#input-text {
	width: 100%;
	background-color: #e1e4ea;
}

.task-input {
	background-color: transparent;
	width: 50%;

	@media only screen and (max-width: $maxWidth) {   
	    width: 100%;
	    height: 90px;
	    text-overflow: ellipsis;
	}
}