@import 'boxes.css';
@import 'triangle.css';

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-wrapper {
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-wrapper span {
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
