@import './../node_modules/normalize.css/normalize.css';
@import './../node_modules/font-awesome/css/font-awesome.min.css';

main {
	align-items: center;
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

div {
	align-items: center;
	background-color: #808080;
	display: flex;
	font-family: 'Arial';
	font-size: 70px;
	height: 100px;
	justify-content: center;
	margin-left: 5px;
	margin-top: 5px;
	width: 100px;
}

header {
	display: flex;
	font-family: 'Arial';
	font-size: 20px;
	justify-content: center;
}

.calc-field,
.action-field {
	cursor: pointer;
}

.action-field {
	background-color: #b2c7e8;

	:hover {
		background-color: #7b9fd1;
	}
}

.number-field {
	background-color: #eaf0f9;

	:hover {
		background-color: #bed2e2;
	}
}

.result-field {
	align-items: flex-end;
	background-color: #b9c2ce;
	font-size: 35px;
	justify-content: flex-end;
	width: 205px;
}
