main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

div {
	display: flex;
	background-color: grey;
	width: 100px;
	height: 100px;
	margin-left: 5px;
	margin-top: 5px;
	font-size: 70px;
	font-family: "Arial";
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	justify-content: center;
	font-family: "Arial";
	font-size: 20px;
}

.other-field {
	background-color: #b2c7e8;
}

.other-field:hover {
	background-color: #7b9fd1;
}

.number-field {
	background-color: #eaf0f9;
}

.number-field:hover {
	background-color: #bed2e2;
}

#result {
	width: 205px;
	background-color: #b9c2ce;
	justify-content: flex-end;
	align-items: flex-end;	
	font-size: 35px;
}

#back {
	background-color: #d12323;
}

#point {
	background-color: #d12323;
}