body {
	left: 0px;
	top: 0px;
	width: calc(100% - 20px);
	height: 100%;
	position: absolute;

}

header {
	height: 50px;
	border-bottom: solid black 5px;
	margin-bottom: 20px;
	padding: 0px;
}

#Title {
	width: calc(100% - 55px);
	display: inline-block;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
	border: 0px;
	margin: 0px;
	height: 100%;
}

#Help {
	display: inline-block;
	height: 30px;
	width: 30px;
	width: height;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 15px;
	border-size: 0px;
	margin: 0px;
	border-radius: 50%;
}

.FormFieldset {
	border: solid black 5px;
	/* !!!!!!!!!!!!! wysokość kolumn \/\/ !!!!!!!!!!*/

	height: auto;
	padding: 0px;
	margin-bottom: 20px;
	vertical-align: top;
}

.FormFieldsetName {
	top: 10px;
	left: 20px;
	margin-top: -20px;
	margin-left: 10px;
	border: solid white 5px;
	background-color: white;
	width: auto;
	float: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
	vertical-align: top;
}

.ColumnContainer {
	height: calc(100% - 30px);
	padding-top: 30px;
	vertical-align: top;

}

.ColumnPersonalData {
	display: inline-block;
	height: 100%;
	margin: 0px;
	margin-top: 0px;
	width: calc(100% / 3 - 3px);
	vertical-align: top;
	margin-bottom: 20px;
}


.ColumnPassword {
	display: inline-block;
	height: 100%;
	margin: 0px;
	margin-top: 0px;
	width: calc(100% / 2 - 2px);
	vertical-align: top;
	margin-bottom: 20px;
}

.ColumnOthersName {
	display: inline-block;
	height: 85px;
	margin: 0px;
	margin-top: 0px;
	width: 150px;
	border-right: solid black 5px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	vertical-align: top;
	margin-bottom: 20px;
}

.ColumnOthersOptions {
	display: inline-block;
	margin: 0px;
	margin-top: 0px;
	width: calc(100% / 2 - 162px);
	vertical-align: top;
}

.Name {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

label {
	display: inline-block;
	width: 150px;
}

form {
	width: 100%;
}

#Submit {
	float: right;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.choice {
	font-family: "Comic Sans MS", cursive, sans-serif;
}