/* 
https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/; 
http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
https://css-tricks.com/snippets/css/complete-guide-grid/
*/
body {
	margin: 30px;
}

header {
	border-bottom: 2px solid #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
}

header h1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

fieldset {
	width: 100%;
	margin-bottom: 25px;
	padding: 10px 20px 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}

legend {
	padding: 0 10px;
}

button, a {
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #444;
}

button:hover {
	background-color: #444;
	color: #fff;
}

main {
	position: relative;
}

/* Buttons */
.action-btn {
	padding: 5px 15px;
}

#info-btn {
	border-radius: 20px;
	width: 30px;
	height: 30px;
	background-color: yellow;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}

#info-btn:hover {
	background-color: gray;	
}

#submit-btn {
	float: right;
	background-color: green;
}

#back-btn, 
#reset-btn {
	text-decoration: none;
	background: gray;
	float: left;
}

/* Forms */
.input-set {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}

.triple-set > *:not(:nth-child(3)),
.double-set > *:not(:nth-child(2)) {
	padding-right: 20px;
}

.triple-set > * {
	width: calc(100% / 3)
}

.double-set > * {
	width: 50%
}

.single-set > * {
	width: 100%
}

.input-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
}

.input-wrapper label {
	width: 120px;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
	height: 26px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
	padding-left: 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.input-wrapper input[type="file"] {
	padding-left: 0;
}

.input-wrapper textarea {
	min-height: 100px;
}

.choices-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.choices-wrapper span {
	margin-top: 3px;
}

.choices-list {
	list-style: none;
	width: 100%;
	margin: 0;
	border-left: 2px solid #000;
	padding: 5px 20px;
	margin-left: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;		
}

.choices-list * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}

.choices-list label {
	margin-bottom: 	10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.choices-list input {
	margin-right: 10px;
}

/* Boxes */
.box-container {
	height: 100px;
	margin-bottom: 20px;
}

.box {
	display: block;
		-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.green-box {
	height: 100%;
	display: block;
	border: 2px solid #000;
	background-image: green;
	margin: 0 10px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

#elipsis-box {
	padding: 5px;
  background-color: blue;
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

#diamond-container {
	width: 100px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.triangle {
  width: 0; 
  height: 0; 
}

.triangle-up, .triangle-down {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.triangle-up {
  border-bottom: 25px solid #000;
}

.triangle-down {
  border-top: 25px solid #000;
}

.triangle-right, .triangle-left {
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.triangle-right {
  border-left: 25px solid #000;
}

.triangle-left {
  border-right: 25px solid #000; 
}

#diamond-container .flex-wrapper {
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.flex-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.img-wrapper {
	margin-bottom: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.img-wrapper span {
	font-weight: bold;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}