{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "promise"
  ],
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": 0,
    "consistent-return": 0,
    "class-methods-use-this": ["error", { "exceptMethods": ["simpleCalculate"] }],
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-await-in-loop": 0,
    "prefer-arrow-callback": 0,
    "no-bitwise": 0,
    "no-console":0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-restricted-globals": 0,
    "no-restricted-syntax": 0,
    "key-spacing": 0,
    "no-tabs": 0,
    "indent": [
      "error",
      "tab"
    ],
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "max-len": [
      2,
      120,
      2
    ],
    "object-curly-spacing": [
      2,
      "always"
    ]
  }
}